.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 57px;
  background-color: white;
  width: 78px;
  z-index: 200;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.sidebar-link{
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
  height: 25px;
  margin-bottom: 7px;
}

.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 11px;
}