.thumbnail{
  width: 100%;
}

.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.profile-picture{
  width: 36px;
  border-radius: 25px;
}

.video-author, .video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.thumbnail-row{
  margin-bottom: 12px;
  position: relative;
}

.video-author{
  margin-bottom: 4px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 900px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 901px) and (max-width: 199px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 7px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}